.product {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.productsBar {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(245, 242, 211);
    color: gray;
    text-align: end;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}