.searchbar {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.findBar {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 7px 10px;
    background-color: gray;

}

.findIcon {
    padding: 8.5px 8.5px;
    border-radius: 8px;
    background-color: rgb(76, 100, 76);
    display: flex;
    justify-content: center;
    align-items: center;

}